button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  user-select: none;
}

.main {
  position: relative;
  height: 100vh;
  min-width: 1200px;
  color: white;
  overflow-y: hidden;
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url(./bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-content {
  height: 100vh;
  position: relative;
  transition: all 1.5s;
}

.main-section {
  height: 100vh;
  width: 1200px;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
}

.section-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.section-btn:visited {
  border: 1px solid white;
  color: white;
}

.section-btn:hover {
  background-color: #fff;
  border: 1px solid white;
  color: black;
}

/* section 1 */
.main-section.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}

.main-section.section-1 .section-title {
  position: relative;
  top: -20px;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
  letter-spacing: 8px;
}

.main-section.section-1 .section-desc {
  position: relative;
  top: -20px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0;
}

.main-section.section-1 .section-btn {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: background-color 0.3s, border 0.3s, color 0.3s, opacity 0.5s;
}

.main-section.section-1 .section-btn:hover {
  background-color: #fff;
  border: 1px solid white;
  color: black;
}

.main-section.section-1.fade-in {
  opacity: 1;
  visibility: visible;
}

.main-section.section-1 .section-btn.show {
  opacity: 1;
  transition: background-color 0.3s, border 0.3s, color 0.3s, opacity 1s;
}

.main-section.section-1.fade-out {
  transition: opacity 0.7s linear;
  opacity: 0;
}

.main-section.section-1.fade-out .section-title {
  transition: all 0.7s linear;
  transform: translateY(-96px);
}

.main-section.section-1.fade-out .section-desc {
  transition: all 0.7s linear;
  transform: translateY(-72px);
}

/* section 2 */
.main-section.section-2 .section2-desc {
  position: absolute;
  top: calc(50% - 96px);
  left: 56px;
  width: 340px;
  font-size: 22px;
  font-weight: 100;
  opacity: 0;
  transform: translateY(160px);
}

.main-section.section-2 .section-brand {
  position: absolute;
  bottom: 0;
  right: 48px;
  width: 480px;
  transform-origin: center center;
  transform: translateY(105%);
}

.main-section.section-2 .section-phone {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 230px;
  height: 476px;
  background-image: url(./iphoneframe.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: translateY(60%) translateX(70%);
  box-sizing: border-box;
}

.main-section.section-2 .section-phone .phone-page {
  position: absolute;
  top: 69px;
  left: 19px;
  width: 192px;
  height: 338px;
  overflow: hidden;
}

.main-section.section-2 .section-phone .phone-page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.main-section.section-2 .section-phone .phone-page .phone-1 {
  opacity: 1;
  z-index: 2;
}

.main-section.section-2 .section-phone .phone-page .phone-2 {
  transform: scale(0.5);
  opacity: 0.8;
  z-index: 1;
}

.main-section.section-2 .section2-hint {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  opacity: 0;
}

.main-section.section-2.fade-in {
  transition: all 0s;
  opacity: 1;
  visibility: visible;
}

.main-section.section-2.fade-in .section2-desc {
  transition: transform 1s, opacity 0.7s;
  opacity: 1;
  transform: translateY(0);
}

.main-section.section-2.fade-in .section-brand {
  transition: all 1s;
  transform: translateY(-20%);
}

.main-section.section-2.fade-in .section-phone {
  transition: all 1s;
  transform: translateY(-30%) translateX(70%);
}

.main-section.section-2.fade-out-1 .section2-desc {
  transition: all 1s;
  opacity: 0;
  transform: translateY(0) scale(0.5);
}

.main-section.section-2.fade-out-1 .section-brand {
  transition: all 1s;
  opacity: 0;
  transform: translateY(-20%) scale(0.5);
}

.main-section.section-2.fade-out-1 .section-phone {
  transition: all 1s;
  transform: translateX(50%) translateY(-50%) scale(1.3) rotate(-90deg);
}

.main-section.section-2.fade-out-1 .phone-page .phone-1 {
  transition: all 1s;
  transform: scale(0.95) translateX(120%);
  opacity: 0.9;
}

.main-section.section-2.fade-out-1 .phone-page .phone-2 {
  transition: all 0.8s 0.2s;
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.main-section.section-2.fade-out-1 .section2-hint {
  transition: all 1s;
  opacity: 1;
  transform: translateY(-48px);
}

.main-section.section-2.fade-out-2 .section-phone {
  transition: all 1s;
  transform: translateX(50%) translateY(80%) scale(1.3) rotate(-90deg);
}

.main-section.section-2.fade-out-2 .section2-hint {
  transition: all 1s;
  opacity: 0.5;
  transform: translateY(400px);
}

/* section 3 */
.main-section.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section.section-3 .section3-content {
  text-align: center;
  transform: scale(0.5);
}

.main-section.section-3 .section3-content .section3-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 100;
}

.main-section.section-3 .section3-content .section-btn {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 20px;
}

.main-section.section-3.fade-in {
  transition: all 1s;
  opacity: 1;
  visibility: visible;
}

.main-section.section-3.fade-in .section3-content {
  transition: all 1s;
  transform: scale(1);
}

.main-section.section-3.fade-out {
  transition: all 1s;
  opacity: 0;
}
